In [1]:
import pandas as pd

In [2]:
events = ['../data/events_France.json', '../data/events_Germany.json', 
           '../data/events_Italy.json', '../data/events_Spain.json']
e = pd.read_json('../data/events_England.json')
df_events = pd.DataFrame(e)
for i in range(len(events)):
    df_events = df_events.append(pd.DataFrame(pd.read_json(events[i])), ignore_index = True)
df_events

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175
...,...,...,...,...,...,...,...,...,...,...,...,...
3071390,8,Simple pass,[{'id': 1801}],20623,"[{'y': 25, 'x': 66}, {'y': 2, 'x': 88}]",2565927,Pass,682,2H,2939.077491,85,253302671
3071391,7,Acceleration,[{'id': 1801}],122832,"[{'y': 2, 'x': 88}, {'y': 21, 'x': 97}]",2565927,Others on the ball,682,2H,2940.515560,70,253302673
3071392,8,Cross,"[{'id': 401}, {'id': 1802}]",122832,"[{'y': 21, 'x': 97}, {'y': 26, 'x': 92}]",2565927,Pass,682,2H,2942.098761,80,253302674
3071393,8,Simple pass,[{'id': 1801}],40756,"[{'y': 74, 'x': 8}, {'y': 56, 'x': 9}]",2565927,Pass,675,2H,2943.089232,85,253302698
3071394,7,Clearance,"[{'id': 1401}, {'id': 1802}]",3306,"[{'y': 56, 'x': 9}, {'y': 100, 'x': 100}]",2565927,Others on the ball,675,2H,2943.668846,71,253302695

In [3]:
def goal(tags):
    for el in tags:
        if el['id'] == 101 or el['id'] == 102:
            return 1
    return 0

In [4]:
df_events = df_events[(df_events['tags'].apply(goal) != 0) & (df_events['eventId'] != 9)]
df_events

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
46,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",25413,"[{'y': 41, 'x': 88}, {'y': 0, 'x': 0}]",2499719,Shot,1609,1H,94.595788,100,177959212
91,10,Shot,"[{'id': 101}, {'id': 403}, {'id': 201}, {'id':...",14763,"[{'y': 52, 'x': 96}, {'y': 100, 'x': 100}]",2499719,Shot,1631,1H,254.745027,100,177959280
554,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",12829,"[{'y': 54, 'x': 94}, {'y': 100, 'x': 100}]",2499719,Shot,1631,1H,1710.855093,100,177959759
898,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",7945,"[{'y': 50, 'x': 92}, {'y': 0, 'x': 0}]",2499719,Shot,1609,1H,2815.900791,100,177960130
1107,10,Shot,"[{'id': 101}, {'id': 403}, {'id': 201}, {'id':...",12829,"[{'y': 54, 'x': 92}, {'y': 100, 'x': 100}]",2499719,Shot,1631,2H,634.312236,100,177960379
...,...,...,...,...,...,...,...,...,...,...,...,...
3069312,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",32968,"[{'y': 33, 'x': 84}, {'y': 0, 'x': 0}]",2565926,Shot,712,2H,2032.390946,100,253222480
3069762,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",8278,"[{'y': 48, 'x': 86}, {'y': 100, 'x': 100}]",2565927,Shot,675,1H,612.380233,100,253300739
3070201,10,Shot,"[{'id': 101}, {'id': 403}, {'id': 201}, {'id':...",3322,"[{'y': 48, 'x': 93}, {'y': 100, 'x': 100}]",2565927,Shot,675,1H,1893.736105,100,253301228
3070981,10,Shot,"[{'id': 101}, {'id': 403}, {'id': 201}, {'id':...",267134,"[{'y': 29, 'x': 88}, {'y': 0, 'x': 0}]",2565927,Shot,682,2H,1501.813224,100,253302208
3071276,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",134174,"[{'y': 25, 'x': 92}, {'y': 0, 'x': 0}]",2565927,Shot,682,2H,2385.837008,100,253302547

In [ ]:
df_events.groupby('id').count()