In [1]:
import pandas as pd
import seaborn as se
from bokeh.plotting import figure

In [3]:
path = r"C:\Users\Giorgio\Documents\Data Science\ADM\HW2\Data"

pl = pd.read_json(path + "\Matches\matches_England.json")
df = pd.DataFrame(pl, columns = ['gameweek','label'])
print(df)
df.sort_values(by = ['gameweek'], inplace = True)
df.reset_index(drop = True, inplace = True)
df

     gameweek                                              label
0          38                   Burnley - AFC Bournemouth, 1 - 2
1          38       Crystal Palace - West Bromwich Albion, 2 - 0
2          38                 Huddersfield Town - Arsenal, 0 - 1
3          38          Liverpool - Brighton & Hove Albion, 4 - 0
4          38                 Manchester United - Watford, 1 - 0
5          38                  Newcastle United - Chelsea, 3 - 0
6          38               Southampton - Manchester City, 0 - 1
7          38                   Swansea City - Stoke City, 1 - 2
8          38          Tottenham Hotspur - Leicester City, 5 - 4
9          38                   West Ham United - Everton, 3 - 1
10         31         West Ham United - Manchester United, 0 - 0
11         31    Manchester City - Brighton & Hove Albion, 3 - 1
12         31        Tottenham Hotspur - Newcastle United, 1 - 0
13         31                    Leicester City - Arsenal, 3 - 1
14         35                 Chelsea - Huddersfield Town, 1 - 1
15         31                  Swansea City - Southampton, 0 - 1
16         37                           Arsenal - Burnley, 5 - 0
17         37                         Chelsea - Liverpool, 1 - 0
18         37         Manchester City - Huddersfield Town, 0 - 0
19         37                       Everton - Southampton, 1 - 1
20         37              AFC Bournemouth - Swansea City, 1 - 0
21         37            Leicester City - West Ham United, 0 - 2
22         37                  Watford - Newcastle United, 2 - 1
23         37    West Bromwich Albion - Tottenham Hotspur, 1 - 0
24         37                 Stoke City - Crystal Palace, 1 - 2
25         37  Brighton & Hove Albion - Manchester United, 1 - 0
26         36                 Tottenham Hotspur - Watford, 2 - 0
27         36                 Manchester United - Arsenal, 2 - 1
28         36           West Ham United - Manchester City, 1 - 4
29         36                      Swansea City - Chelsea, 0 - 1
..        ...                                                ...
350         3                         Liverpool - Arsenal, 4 - 0
351         3                 Tottenham Hotspur - Burnley, 1 - 1
352         3                           Chelsea - Everton, 2 - 0
353         3           West Bromwich Albion - Stoke City, 1 - 1
354         3          Manchester United - Leicester City, 2 - 0
355         3               Crystal Palace - Swansea City, 0 - 2
356         3             Huddersfield Town - Southampton, 0 - 0
357         3          Newcastle United - West Ham United, 3 - 0
358         3            Watford - Brighton & Hove Albion, 0 - 0
359         3           AFC Bournemouth - Manchester City, 1 - 2
360         2                   Manchester City - Everton, 1 - 1
361         2                 Tottenham Hotspur - Chelsea, 1 - 2
362         2        Huddersfield Town - Newcastle United, 1 - 0
363         2                        Stoke City - Arsenal, 1 - 0
364         2                   AFC Bournemouth - Watford, 0 - 2
365         2              Burnley - West Bromwich Albion, 0 - 1
366         2     Leicester City - Brighton & Hove Albion, 2 - 0
367         2                  Liverpool - Crystal Palace, 1 - 0
368         2               Southampton - West Ham United, 3 - 2
369         2            Swansea City - Manchester United, 0 - 4
370         1         Manchester United - West Ham United, 4 - 0
371         1        Newcastle United - Tottenham Hotspur, 0 - 2
372         1    Brighton & Hove Albion - Manchester City, 0 - 2
373         1                           Chelsea - Burnley, 2 - 3
374         1          Crystal Palace - Huddersfield Town, 0 - 3
375         1                        Everton - Stoke City, 1 - 0
376         1                  Southampton - Swansea City, 0 - 0
377         1      West Bromwich Albion - AFC Bournemouth, 1 - 0
378         1                         Watford - Liverpool, 3 - 3
379         1                    Arsenal - Leicester City, 4 - 3

[380 rows x 2 columns]

     gameweek                                              label
0           1                    Arsenal - Leicester City, 4 - 3
1           1         Manchester United - West Ham United, 4 - 0
2           1        Newcastle United - Tottenham Hotspur, 0 - 2
3           1    Brighton & Hove Albion - Manchester City, 0 - 2
4           1                           Chelsea - Burnley, 2 - 3
5           1                         Watford - Liverpool, 3 - 3
6           1                        Everton - Stoke City, 1 - 0
7           1                  Southampton - Swansea City, 0 - 0
8           1      West Bromwich Albion - AFC Bournemouth, 1 - 0
9           1          Crystal Palace - Huddersfield Town, 0 - 3
10          2                   Manchester City - Everton, 1 - 1
11          2                 Tottenham Hotspur - Chelsea, 1 - 2
12          2        Huddersfield Town - Newcastle United, 1 - 0
13          2                        Stoke City - Arsenal, 1 - 0
14          2                   AFC Bournemouth - Watford, 0 - 2
15          2              Burnley - West Bromwich Albion, 0 - 1
16          2     Leicester City - Brighton & Hove Albion, 2 - 0
17          2                  Liverpool - Crystal Palace, 1 - 0
18          2               Southampton - West Ham United, 3 - 2
19          2            Swansea City - Manchester United, 0 - 4
20          3                         Liverpool - Arsenal, 4 - 0
21          3                 Tottenham Hotspur - Burnley, 1 - 1
22          3                           Chelsea - Everton, 2 - 0
23          3           West Bromwich Albion - Stoke City, 1 - 1
24          3           AFC Bournemouth - Manchester City, 1 - 2
25          3               Crystal Palace - Swansea City, 0 - 2
26          3             Huddersfield Town - Southampton, 0 - 0
27          3          Newcastle United - West Ham United, 3 - 0
28          3            Watford - Brighton & Hove Albion, 0 - 0
29          3          Manchester United - Leicester City, 2 - 0
..        ...                                                ...
350        36                 Tottenham Hotspur - Watford, 2 - 0
351        36                 Huddersfield Town - Everton, 0 - 2
352        36           West Ham United - Manchester City, 1 - 4
353        36                      Swansea City - Chelsea, 0 - 1
354        36            Burnley - Brighton & Hove Albion, 0 - 0
355        36             Crystal Palace - Leicester City, 5 - 0
356        36     Newcastle United - West Bromwich Albion, 0 - 1
357        36               Southampton - AFC Bournemouth, 2 - 1
358        36                      Liverpool - Stoke City, 0 - 0
359        36                 Manchester United - Arsenal, 2 - 1
360        37                           Arsenal - Burnley, 5 - 0
361        37    West Bromwich Albion - Tottenham Hotspur, 1 - 0
362        37         Manchester City - Huddersfield Town, 0 - 0
363        37                       Everton - Southampton, 1 - 1
364        37              AFC Bournemouth - Swansea City, 1 - 0
365        37            Leicester City - West Ham United, 0 - 2
366        37                  Watford - Newcastle United, 2 - 1
367        37                 Stoke City - Crystal Palace, 1 - 2
368        37  Brighton & Hove Albion - Manchester United, 1 - 0
369        37                         Chelsea - Liverpool, 1 - 0
370        38       Crystal Palace - West Bromwich Albion, 2 - 0
371        38                 Huddersfield Town - Arsenal, 0 - 1
372        38          Liverpool - Brighton & Hove Albion, 4 - 0
373        38                 Manchester United - Watford, 1 - 0
374        38          Tottenham Hotspur - Leicester City, 5 - 4
375        38               Southampton - Manchester City, 0 - 1
376        38                   Swansea City - Stoke City, 1 - 2
377        38                   West Ham United - Everton, 3 - 1
378        38                  Newcastle United - Chelsea, 3 - 0
379        38                   Burnley - AFC Bournemouth, 1 - 2

[380 rows x 2 columns]

In [4]:
df['team1'] = ''
df['team2'] = ''
df['score1'] = 0
df['score2'] = 0

In [ ]:
for i in range(len(df)):
    df['team1'][i] = ((df['label'][i].replace(',', '-')).split('-'))[0].strip()
    df['team2'][i] = ((df['label'][i].replace(',', '-')).split('-'))[1].strip()
    p1 = ((df['label'][i].replace(',', '-')).split('-'))[2].strip()
    p2 = ((df['label'][i].replace(',', '-')).split('-'))[3].strip()
    if(int(p1) > int(p2)):
        df['score1'][i] +=  3
    elif(int(p1) == int(p2)):
        df['score1'][i] += 1
        df['score2'][i] += 1
    else:
        df['score2'][i] += 3

C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Giorgio\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
df.iloc[[1]]

In [ ]:
ars = pd.DataFrame(columns = ['gameweek', 'label', 'team1', 'team2', 'score1', 'score2'])
for i in range(len(df)):
    if bool(df.team1[i] == 'Arsenal' or df.team2[i] == 'Arsenal'):
        ars = ars.append(df.iloc[[i]])
ars

In [ ]:
d = {}
for i in range(len(df)):
    if df.team1[i] not in d:
        d[df.team1[i]] = [int(df.score1[df.gameweek[i]-1]),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    else:
        d[df.team1[i]][df.gameweek[i]-1] += df.score1[i] + d[df.team1[i]][df.gameweek[i]-2]
    if df.team2[i] not in d:
        d[df.team2[i]] = [int(df.score2[df.gameweek[i]-1]),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    else:
        d[df.team2[i]][df.gameweek[i]-1] += df.score2[i] + d[df.team2[i]][df.gameweek[i]-2]
for elem in d:
    print(elem, d[elem])

In [ ]:
allsquad = pd.DataFrame(d)
allsquad

In [ ]:
allsquad.plot(figsize = (8, 4))